@import './carousel';
// @import './modal';
@import './profile-edit';
@import './_btn_google';
@import './clock';
@import './comunidades';
@import './login-usuario';
@import './recuperar';
@import './registrar-usuario';
@import './profile';
@import './actividades';
@import './insignias';
@import './grupos';

@import './home-page';
