.btn {
    position: relative;
    overflow: hidden;
    transition: 800ms ease all;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;
    font-size: calc(1rem + 0.66667vw);

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: $backColor-btn6;
        // @include gradiente(315deg, 30b945);
        // background: #30b945;
        background: linear-gradient(315deg, #6f39a7 0%, #6615bd 100%);
        transition: all 0.4s ease;

    }

    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: white;

    }

    &:hover::before {
        transform: scale(2) rotate(180deg);
    }



}

.btn-purple {
    background: #68438f;
    color: white;
    z-index: 3;
}

// .btn {
//    width: 50%;
//    padding: 2.5%;
//    color: white;
//    transition: all 0.2s;
//    &-send {
//       background-color: grey;
//       border-radius: 10px;
//       border: solid 0px;
//       &:hover {
//          background-color: rgb(255, 255, 255);
//          color: rgb(0, 0, 0);
//       }
//    }
//    &-login {
//       text-align: right;
//       border: solid 0px;
//       background-color: rgb(172, 172, 172);
//       outline: none;
//       &:hover {
//          color: rgb(0, 86, 245);
//       }
//    }
// }


.btn-login {
    padding: 0;
    border: none;
    box-shadow: none;
    position: relative;
    
    perspective: 230px;
    width: 130px;
    height: 40px;
    background: transparent;
    color: white;
    font-size: 1.2rem;


    span {
        display: flex;
        margin:0;
        align-items: center;
        border-radius: 5px;
        
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(160deg, $gradientBtn-login);
        justify-content: center;
        
        &:first-child{
            transform: rotateX(90deg);
            transform-origin: 50% 50% -20px;
        }
        &:last-child{
            transform: rotateX(0deg);
            transform-origin: 50% 50% -20px;
        }
        
        transition: all .3s;

    }


    &:hover{
        
        span{
            &:first-child{
                transform: rotateX(0deg);
            }

            &:last-child{
                transform: rotateX(-90deg);
                color: transparent;
            }
        }
    }
}
