.carousel-lideres {
    margin-top: 2rem;

    &__container {
        position: relative;
        width: 100%;
        height: 100%;

        padding: 0 0 2px 0;
    }

    &__slider {

        display: flex;
        flex-wrap: wrap;


        justify-content: space-around;
        align-content: center;
        padding: 0 2.5rem;;

    }

    &__block {

        overflow: hidden;
        position: relative;
        max-height: calc(30vh - 5rem);
        min-height: calc(310px - 5vh);
        margin: 0.5rem 1rem;
        border-radius: 1rem;
        text-align: center;
        width: calc(8rem + 10vw);

    }

    &__img {
        height: 100%;
        transition: width 900ms cubic-bezier(0, 0, .15, 1);

        img {
            transition: opacity 900ms cubic-bezier(0, 0, .15, 1);
            object-fit: cover;

            width: 100%;
            height: 100%;
        }


    }

    &__desc {
        position: absolute;

        transition: width 900ms cubic-bezier(0, 0, .15, 1);


        background: #222f3e;
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4rem;
        display: flex;
        align-content: center;
        justify-content: center;

        h3 {
            transition: opacity 900ms cubic-bezier(0, 0, .15, 1);
            margin-top: 1rem;
            align-self: center;

        }

    }

    &__team {
        color: white;
        position: absolute;
        top: -42%;
        z-index: 3;
        height: calc(3rem + 2vh);
        width: calc(3rem + 2vw);
        background-repeat: no-repeat;
        background-size: calc(1.3rem + 2vw);
        background-position: center center;
        border-radius: 50%;
        transition: opacity 900ms cubic-bezier(0, 0, .15, 1);
    }

    &--angular {

        background-image: url("https://img.icons8.com/color/48/000000/angularjs.png");

    }

    &--react {
        background-image: url("https://img.icons8.com/color/48/000000/react-native.png");
    }

    &--vue {

        background-image: url("https://img.icons8.com/color/48/000000/vue-js.png");

    }

    &--svelte {

        background-image: url("https://img.icons8.com/doodle/48/000000/svetle.png");
    }

}

.carousel-lideres {

    &--transition {

        & .carousel-lideres__img {
            width: 100%;

            img {

                opacity: 1;
            }
        }

        & .carousel-lideres__desc {
            // overflow: hidden;
            width: 100%;

            h3 {
                opacity: 1;
            }

        }


    }

    &--remove {

        & .carousel-lideres__img {

            width: 0%;
            // height: 100%;

            img {
                opacity: 0;
            }
        }

        & .carousel-lideres__desc {

            width: 0%;

            h3 {
                opacity: 0;
            }

        }

        & .carousel-lideres__team {
            opacity: 0;
        }
    }
}

.carousel-lideres {


    &__navegacion {

        span {
            transition: 0.5s;
            font-size: 2.6rem;
            border-radius: 10px;
            background-color: #222f3e;
            color: #ddd7d7;
            
            cursor: pointer;
            opacity: 0.5;

            pointer-events: auto;
            padding: 0 0.5rem;
            margin: 0 0.5rem;

            &:hover {
                color: white;
                background-color: #0652DD;
                opacity: 1;

                &::before {
                    background-color: #0652DD;
                }

                &::after {
                    background-color: #0652DD;
                }
            }
        }

        & span:first-child {
            position: absolute;
            top: 45%;
            left: 0;
        }

        & span:last-child {
            position: absolute;
            top: 45%;
            right: 0;
        }

    }
}


.carousel-sponsor {
    padding: 2% ;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    
    &__container {
        
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        max-width: 850px;
        
        .sponsor-image {
            margin: 0 0.5em;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0px 3px 6px #00000029;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;

            }
        }


        span {
            position: absolute;
            top: 32%;
            &:first-child {
                left: -5%;
                
            }
            
            &:last-child {
                right: -5%;
                
            }
            
        }
        
        span svg {
            background-size: cover;
            font-size: 2rem;
            font-size: calc(1.2rem + 1vw);

            &:hover {
                cursor: pointer;
            }
        }
    }
}
