.carousel {

    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 2px solid green;

    &__container {
        position: relative;
        perspective: 1000px;

        width: 100%;
        height: 100%;
    }

    &__slider {
        position: absolute;
        transform-style: preserve-3d;

        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;
    }

}

.carousel {

    &__block {
        position: relative;
        width: calc(350px + 1vw);
        height: 100%;

        overflow: hidden;
        padding: 2rem 0;

        img {

            width: 100%;
            height: 100%;
        }

        & figure {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            margin: 0;
            overflow: hidden;

            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        & figcaption {

            position: absolute;
            height: 0%;
            bottom: 6%;

            margin: 0;
            background: rgba(0, 0, 0, 0.4);
            text-align: center;
            
            overflow: hidden;
            opacity: 0;
            width: 100%;

            transition: all 1000ms cubic-bezier(0, 0, .15, 1);

            h3 {
                color: #fff;
                font-family: 'Prata', serif;
                font-size: 40px;
                font-weight: normal;
                
                line-height: 40px;
                margin: 0;
                padding: 20px 0;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            }

            p {
                color: #fff;
                padding: 20px 0;
                margin: 0;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
            }
        }

        &:first-child {
            position: absolute;
            top: 0;
            left: 10%;
            transform-origin: top right;
            transform: translateX(0%) rotateY(-40deg);

            img {
                transition: width 900ms cubic-bezier(0, 0, .15, 1) 600ms;
            }
        }

        &:nth-child(2) {
            position: absolute;

            img {
                transition: width 900ms cubic-bezier(0, 0, .15, 1) 300ms;
            }
        }

        &:nth-child(3) {
            position: absolute;
            top: 0;
            right: 10%;

            transform-origin: top left;
            transform: translateX(0%) rotateY(40deg);

            img {
                transition: width 900ms cubic-bezier(0, 0, .15, 1);
            }
        }
    }

    &--transition {
        figcaption {
            height: 30%;
            opacity: 1;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &--remove {
        figcaption {
            width: 0;
            height: 35%;
            opacity: 0;
        }

        img {
            width: 0%;
            height: 100%;
        }
    }
}

.carousel {

    &__navegacion {
        position: absolute;
        bottom: 0%;
        right: 6%;

        color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span {
            position: relative;
            transition: 0.5s;
            font-size: 2.6rem;
            margin: 2rem 1.5rem;
            background-color: #ddd7d7;
            color: rgb(23, 23, 109);

            transform: perspective(600px) rotate(-30deg) skew(20deg) translate(0, 0);
            cursor: pointer;
            opacity: 0.6;

            pointer-events: auto;
            padding: 0 0.5rem;

            &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: -10px;
                height: 100%;
                width: 10px;
                background-color: #ddd7d7;
                transition: 0.5s;
                transform: rotate(0deg) skewY(-45deg);

            }

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: -5px;

                height: 10px;
                width: 100%;
                transition: 0.5s;
                transform: rotate(0deg) skewX(-45deg);
                background-color: #ddd7d7;

            }

            &:hover {
                color: white;
                background-color: blue;
                transform: perspective(600px) rotate(-30deg) skew(20deg) translate(5px, -5px);
                opacity: 1;

                &::before {
                    background-color: blue;
                }

                &::after {
                    background-color: blue;
                }
            }
        }
    }
}