.clock {
	
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;

	position: relative;
	text-align: center;
	margin: 5rem 0;
	h3{
		font-family:'Arial Narrow',  Arial, sans-serif;
	}

	&__content {

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		
		position: relative;
		color: #525658;
		padding: 2rem;
		width: 65vw;
		
		//+  CARTAS DE CADA ITEM 
		& > div:last-child{
			margin: 0;
		}
		&>div {

			
			display: flex;
			flex: 0 1 100px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			margin-right: calc(2rem + 2vw);
			font-size: calc(0.8rem + 0.666vw);
			
			transform: perspective(600px) rotate(-30deg) skew(20deg) translate(0, 0);
			
			
			&>span {
			
				font-family: 'Lexend Mega', sans-serif;
				box-shadow:  -14px 14px 28px #a8a3a3;

				position: relative;
				padding: 2rem;
				width: 100%;
				height: calc(4.8rem + 1.6vh);
				border-radius: 8px 5px 8px 0;
				z-index: 1;

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;

					width: 100%;
					border-radius: 2px 2px 2px 2px;
					z-index: -1;
				}

				a {
					&::before {
						content: '';
						position: absolute;
						top: 10px;
						left: -20px;
						height: 100%;
						width: 20px;

						transition: 0.5s;
						transform: rotate(0deg) skewY(-45deg);

					}

					&::after {
						content: '';
						position: absolute;
						bottom: -20px;
						left: -10px;

						height: 20px;
						width: 100%;


						transition: 0.5s;
						transform: rotate(0deg) skewX(-45deg);

					}

				}
			}
		}
	}

	&__seconds {

		span {

			border: 2px solid #82c99d48;
			background: #96f0b891;

			&::before {

				height: var(--size-seg);
				background: #53e087;

			}

			a {
				&::before {
					background: #4bc779;
				}

				&::after {
					background: #2FDF72;
				}
			}
		}
	}

	&__minutes {

		span {

			border: 2px solid #87d3ec94;
			background: #87d3ec94;

			&::before {
				height: var(--size-min);
				background: #36c8f8;
			}

			a {
				&::before {
					background: #2db9e7;
				}

				&::after {
					background: #38c3f1;
				}
			}
		}
	}

	&__hours {

		span {

			border: 2px solid #f5bfd496;
			background: #f5bfd496;

			&::before {
				height: var(--size-hrs);
				background: #fc96bd;
			}

			a {
				&::before {
					background: #eb85ac;
				}

				&::after {
					background: #f0a2c0;
				}
			}
		}

	}

	&__days {

		span {

			border: 2px solid #f1bea58a;
			background: #f1bea58a;

			&::before {
				height: var(--size-dias);
				background: #f58852;
			}

			a {
				&::before {
					background: #f09669;
				}

				&::after {
					background: #e27e4c;
				}
			}
		}

	}

	&__smalltext {

		margin-top: 2rem;
		color: #494e50;
	}

}