.home-page{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr ;

    border: 2px solid black;
    &__content{
        width: 100%;
        border: 2px solid blue;
    }
}