.contain {
    max-width: 1178px;
    width: 100%;
    padding-left: 25%;
}
.file {

  width: 100%;
  padding: 10px 0px 25px 0px;
  outline: none;
  border: none;
  border-bottom: 0px solid black;

}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    padding: 0.1333em;
    width: 100%;

}
.grid-container-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.1333em;
    width: 100%;

}
.grid-container-colum-2 {

    display: grid;
    grid-template-columns: auto auto;
    padding: 0.1333em;
    width: 100%;

}
.grid-container-colum-4 {

    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0.1333em;
    width: 100%;

}
.grid-item {
    width: 100%;
    padding: 20px;
    font-size:20px;
    display: grid;
    text-align: left;
}
.grid-item-center {
    width: 100%;
    padding: 20px;
    font-size:20px;
    display: grid;
    text-align: center;
}
.grid-item-button {
    width: 100%;
    padding: 0.2667em;
    font-size:20px;
    display: grid;
    text-align: right;
}
.label-title {

    color: #0652DD;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.label {

    color: #0652DD;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.gg-bound-control-input{
    color: black;
    font-size: 13px;
    text-align: left;
    // text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}
// ::-webkit-input-placeholder { color: #0652DD; } 

// :-moz-placeholder  { color: #0652DD; } 

// ::-moz-placeholder  { color: #0652DD; } 

// :-ms-input-placeholder  { color: #0652DD; } 
input {
    width: 100%;
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
 }

 input:focus+span, .--active{
    top: -0.24em;
    left: 0;
    font-size: 0.7rem;
 }

 $white: #fff;
 $google-blue: #4285f4;
 $button-active-blue: #1669F2;
 
 .profile-btn {
   width: 100%;
   height: 42px;
   background-color: $google-blue;
   border-radius: 2px;
   box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
   .profile-btn-text {
    text-align: center;
     margin: 11px 11px 0 0;
     color: $white;
     font-size: 14px;
     letter-spacing: 0.2px;
     font-family: "Roboto";
     
   }
   &:hover {
     box-shadow: 0 0 6px $google-blue;
     
   }
   &:active {
     background: $button-active-blue;
   }
 }
 
 @import url(https://fonts.googleapis.com/css?family=Roboto:500);

.container-center {

    margin-left: 42%;
}
.form-avatar {
    height: 7em;
    width: 7em;
    border: 0px solid rgba(0, 0, 0, 0.1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    // overflow: hidden; 
  
    img {
      height: 100%;
      display: block;
      margin: 0 auto;
      border-radius:140px;
      border:4px solid #666;
    }
}
.label-subtitle{
    font-size: 18px;
    color: green;
}

@media ( max-width: 1200px ) {
  
  .contain {
    width: 100%;
    padding: 5%;
  }
  .grid-container{

    display: grid;
    grid-template-columns: 1.3fr;

  }
  // .container-center {

  //   margin-left: 25%;

  // }
  .grid-container-colum-2 {

    display: grid;
    grid-template-columns: 1.3fr 1.3fr;
  }

  .grid-container-3 {

    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr ;

  }
  .grid-container-colum-4 {

    display: grid;
    grid-template-columns: 0.1fr 1fr;

  }

}

@media ( max-width: 992px ) {

  .contain {

    width: 100%;
    padding: 5%;

  }
  // .container-center {
    
  //   margin-left: 25%;

  // }
  .grid-container{
    display: grid;
    grid-template-columns: 1.3fr;

  }

  .grid-container-colum-2 {

    display: grid;
    grid-template-columns: 1.3fr 1.3fr;

  }

  .grid-container-3 {
    
    display: grid;
    grid-template-columns: 1.3fr ;

  }
  .grid-container-colum-4 {

    display: grid;
    grid-template-columns: 0.1fr 1fr;

  }

}
@media ( max-width: 768px ) {

  .contain {
    width: 100%;
    padding: 5%;
  }
  // .container-center {

  //   margin-left: 25%;

  // }
  .grid-container{
    display: grid;
    grid-template-columns: 1.3fr;

  }

  .grid-container-colum-2 {

    display: grid;
    grid-template-columns: 1.3fr;

  }

  .grid-container-3 {
      
    display: grid;
    grid-template-columns: 1.3fr ;

  }
  .grid-container-colum-4 {

    display: grid;
    grid-template-columns: 0.1fr 1fr;

  }

}
@media ( max-width: 576px ) {

  .contain {

    width: 100%;
    padding: 5%;

  }
  .container-center {

    margin-left: 25%;

  }
  .grid-container{

    display: grid;
    grid-template-columns: 1.3fr;

  }

  .grid-container-colum-2 {

    display: grid;
    grid-template-columns: 1.3fr;

  }

  .grid-container-3 {

    display: grid;
    grid-template-columns: 1.3fr;

  }
  .grid-container-colum-4 {

    display: grid;
    grid-template-columns: 0.1fr 1fr;

  }

}