// 6f39a7 (43)
//944fdb (53)
// ffe499 (90)

$color-gradiente-header: linear-gradient(163deg, rgba(111,57,167,1) 26%, rgba(148,79,219,1) 53%, rgba(209,179,95,1) 90%); 



$gradientBtn-login: rgba(111,57,167,1) 26%, rgba(148,79,219,1) 53%;

