

$color-header: #0652DD;



$gradientBtn-login: rgba(111,57,167,1) 26%, rgba(148,79,219,1) 53%;

$color-1: #222F3E;
$color-2: #0C2461;

$color-3: #808080;
$color-blue: #0652DD;
$color-5: #C4C4C4;
$color-6: #767676;
$color-7: #FFFFFF;


