



.btn {

    color: white;
    border-radius: 20px;
    opacity: 1;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    
}

.btn-blue{
    background-color: $color-blue;
    box-shadow: 0px 10px 20px #10245D48;
}

.btn-white{
    color: $color-blue;
    padding: 12px 40px;
    background-color: white;
    
    
}