.modal {
   font-size: 12px;
   font-family: 'Lato Regular';
   letter-spacing: 0.3px;
   font-weight: 250;
   padding: 2em;
   &-header {
      width: 100%;
      border-bottom: 1px solid gray;
      font-size: 18px;
      text-align: center;
      padding: 5px;
   }

   &-content {
      width: 100%;
      padding: 10px 5px;
      background: rgb(255, 255, 255);
      max-height: calc(80vh);
      overflow-y: auto;
      text-align: justify;
   }
   &-content-scrollbar::-webkit-scrollbar {
      width: 12px;
      background-color: #eff1f5;
   }

   &-content-scrollbar::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: transparent;
   }

   &-content-scrollbar::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba($color-blue, 0.7);
      border: 2px solid #eff1f5;
   }
   .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
   }
   .close {
      cursor: pointer;
      position: absolute;
      display: block;
      padding: 2px 5px;
      line-height: 20px;
      right: -10px;
      top: -10px;
      font-size: 24px;
      background: #ffffff;
      border-radius: 18px;
      border: 1px solid #cfcece;
   }
}

.popup-content {
   margin: auto;
   background: #fff;
   width: 50%;
   padding: 5px;
   border: 1px solid #d7d7d7;
   border-radius: 8px;
}

@media only screen and (max-width: 600px) {
   .popup-content {
      width: 90%;
   }
}

[role='tooltip'].popup-content {
   width: 200px;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
   border-radius: 5px;
}

.popup-overlay {
   background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
   background: transparent;
}

.popup-arrow {
   -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
   filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
   color: #fff;
   stroke-width: 2px;
   stroke: #d7d7d7;
   stroke-dasharray: 30px;
   stroke-dashoffset: -54px;
}
