.navegacion {
   background: $color-header;


   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

   font-size: calc(1rem + 0.2vw);
   font-family: 'Lato', sans-serif;
   border: 2px solid $color-blue;


   &__img {
      margin-left: 2rem;

      align-self: center;
      width: 100%;
      flex: 0 1 calc(5rem + 2.5vw);

      img {
         width: 100%;
         height: 100%;
      }
   }

   &__logged {

      display: flex;

      justify-content: space-around;
      color: white;
      flex: 1;

   }

   &__items {

      display: flex;
      flex-wrap: wrap;

      align-self: center;
      justify-content: space-around;

      list-style: none;


      li {
         flex-shrink: 0;
         padding: 1.1rem;
         cursor: pointer;

      }
   }

   &__profile {
      display: flex;

      align-self: center;

      position: relative;
      & svg:first-child{
         font-size: 1.4rem;
         
         opacity: 1;
      }

      svg {
         font-size: 1rem;
         align-self: center;
         margin-right: 0.7rem;
         opacity: 0.7;

         &:hover {
            cursor: pointer;
            opacity: 1;


         }
      }

      padding: 1rem 0;


   }

   &__profile-content {
      display: flex;
      justify-content: space-between;
      border-radius: 25px;
      height: 3rem;
      width: 15rem;
      padding: 0.15rem 0.2rem;
      background: white;
      color: black;

   }

   &__profile-img {

      border-radius: 50%;
      overflow: hidden;
      width: 20%;

      // padding: 0.2rem;
      img {
         height: 100%;
         width: 100%;
      }

   }

   &__profile-name {
      align-self: center;
   }

}

.navegacion {

   &__profile-menu {

      position: absolute;
      top: 70%;
      right: 0;

      background: white;
      width: calc(80% - 2rem);
      height: 100%;

      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      transition: 0.35s;

      visibility: hidden;
      opacity: 0;

      h3 {
         width: 100%;
         text-align: center;
         font-size: calc(0.5rem + 0.66vw);
         padding: 20px 0;
         font-weight: 500;
         color: #555;
         line-height: 1.2em;
      }

      ul {
         padding: 0 3px;
         list-style-type: none;
      }

      & ul li {
         list-style: none;
         padding: 10px 0;
         border-top: 1px solid rgba(0, 0, 0, 0.05);
         display: flex;
         justify-content: flex-start;
         align-items: center;

         i {
            display: inline-block;
            text-decoration: none;
            color: #555;
            transition: 0.5s;
            font-size: calc(0.5rem + 0.66vw);
         }

         svg {
            color: black;
            font-size: calc(0.5rem + 0.66vw);
            margin-right: calc(0.5rem + 0.3vw);
            opacity: 0.5;
            transition: 0.5s;

         }

         &:hover i {
            color: #ff5d94;
            
            cursor: pointer;
         }

         &:hover svg {
            opacity: 1;
         }

      }
   }

   &__profile-menu.active {

      bottom: -75%;
      right: 0;
      visibility: visible;
      opacity: 1;
   }
}