
header{
    margin: 0 auto;
}
.navegacion {


    background: $color-gradiente-header;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, minmax(100px, min-content));
    
    align-items: center;
    justify-items: center;
    
    padding: 1rem 0 ;
    column-gap:25rem;
    row-gap: 3rem;
    
    width: 100%;
   
    &__img{
        width: calc(6.85rem + 1vw);
    }


  
}
    