.navegacion {
   background: $color-header;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   font-size: calc(1rem + 0.2vw);

   &__img {
      align-self: center;
      flex: 0 1 calc(5rem + 2.5vw);
   }

   &__logged {
      display: flex;
      color: white;

   }

   &__items {

      align-self: center;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;

      li {
         flex-shrink: 0;
         padding: 1.1rem;
         cursor: pointer;

      }
   }

   &__profile {
      position: relative;
      z-index: 1;
      display: flex;
      align-self: center;
      
     



   }

   &__profile-img {
      justify-self: center;
      align-self: center;
      position: relative;
      width: calc(3.5rem + 2vw);
      height: calc(3.5rem + 2vw);
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
   }

   &__profile-menu {
      border: 2px solid blue;
      position: absolute;
      top: 80%;
      left: -20%;
      // padding: 5px 20px;
      background: white;
      width: calc(100% + 3vw);
      box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      transition: 0.5s;

      visibility: hidden;
      opacity: 0;

      h3 {

         width: 100%;
         text-align: center;
         font-size: calc(0.5rem + 0.66vw);
         padding: 20px 0;
         font-weight: 500;
         color: #555;
         line-height: 1.2em;
      }

      ul {
         padding: 0 3px;
         list-style-type: none;
      }

      & ul li {
         list-style: none;
         padding: 10px 0;
         border-top: 1px solid rgba(0, 0, 0, 0.05);
         display: flex;
         justify-content: flex-start;
         align-items: center;

         i {
            display: inline-block;
            text-decoration: none;
            color: #555;
            transition: 0.5s;
            font-size: calc(0.5rem + 0.66vw);
         }

         svg {
            color: black;
            font-size: calc(0.5rem + 0.66vw);
            margin-right: calc(0.5rem + 0.3vw);
            opacity: 0.5;
            transition: 0.5s;
         }

         &:hover i {
            color: #ff5d94;
            cursor: pointer;
         }

         &:hover svg {
            opacity: 1;
         }

      }


      &::before {
         content: '';
         position: absolute;
         top: -5px;
         left: 42%;
         width: calc(0.5rem + 0.8vw);
         height: calc(0.5rem + 0.8vw);
         background: rgb(155, 108, 108);
         transform: rotate(45deg);
      }
   }

}

.navegacion {

   &__profile-menu.active {

      top: calc(100% + 0.5rem);
      right: -30px;
      visibility: visible;
      opacity: 1;


   }
}