header {
   margin: 0 auto;
}
.navegacion {
   background: $color-header;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows: repeat(1, minmax(100px, min-content));

   align-items: center;
   justify-items: center;

   padding: 1rem 0;
   column-gap: 25rem;
   row-gap: 3rem;

   width: 100%;

   &__img {
      width: calc(6.85rem + 1vw);
   }

   &__nav {
      width: 100%;
      background: $color-header;
      text-align: center;
      //   padding: 100px;
      //   margin: auto 100px;
      &-bar {
         margin: 0px;
         display: block;
         &--item {
            list-style: none;
            display: inline-block;
            padding: 1rem;
         }
         &--link {
            color: peachpuff;
            text-decoration: none;
            transition: 0.2 all;
            padding-bottom: 10px;
            &:hover {
               border-bottom: solid 1px oldlace;
            }
         }
      }
   }
}
